<p id="notice"><%= notice %></p>

<h1>Actlogs</h1>

<table>
  <thead>
    <tr>
      <th>日別</th>
      <th>月別</th>
      <th>年別</th>
      <th><%= link_to '一覧に戻る', actlogs_path %></th>
    </tr>
    <tr>
    
    </tr>
  </thead>

  
</table>

<br>


