<p id="notice"><%= notice %></p>

<h1>Actlogs</h1>

<div class="btn-group" role="group" aria-label="header">
  <tr>
    <th>
      <button type="button" class="btn btn-default">
        日別
      </button>
    </th>
    <th>
      <button type="button" class="btn btn-default">
        月別
      </button>
    </th>
    <th>
      <button type="button" class="btn btn-default">
      　年別
      </button>
    </th>
    <th>
      <button type="button" class="btn btn-default">
      　<%= link_to '一覧に戻る', actlogs_path %>
      </button>
    </th>
  </tr>
</div>



<br>


